---
date: "2019-11-30"
---
<p>This page, as well as the following five, are a redux of the original four
pages of the comic.  I've worked on Space House, here and there, for about four
years.  The project was originally intended for learning, and now that I draw
and write better, I want the comic to have a more functional beginning.  The
original pages, however, will not be deleted, and if you would like to see
them, they will be linked in the descriptions of each corresponding redux
page.</p>

<p style="text-align:center; font-size: 0.8em;">Original page:</p><a target="_blank" href="/old-intro/1"><img class="center" src="/static/old-intro/thumbs/sh_0001.jpg"/></a>
