---
date: "2019-11-30"
---
<p style="text-align:center; font-size: 0.8em;">Original page:</p><a target="_blank" href="/old-intro/1"><img class="center" src="/static/old-intro/thumbs/sh_0001.jpg"/></a>
