---
date: "2016-11-20"
---
<p>These first nine comics are all being uploaded in one big batch.  I've been working on this comic strip on-and-off for about a year and think it would be nice to put it online.</p>
<p>A brush pen, something I hadn't used before; as well as a new ink/brush were used in this particular comic.  I was satisfied with the results, and will likely continue to use those.  I think I want to aim for thicker line weights.</p>
