---
date: "2016-12-12"
---
<p>I've attempted to alter the site to be more mobile-friendly by making a vertically-based version of the comic, and hopefully the comic will switch to that when on a phone in portrait mode.	In landscape, it should be the typical landscape-oriented comic.	This is all assuming everything works, of course.</p>
<p>On a side note, I frequently find myself using the Uncle Sam "I want you" image as reference for a finger pointed directly at the viewer.</p>
