---
date: "2017-04-17"
---
<p>When I started sketching this comic, I had just watched Barry Lyndon, hence the attire. Great film. I'm really fond of 18th century clothing, and I particularly find the cloth thingies folks wore around the neck appealing (I think they're called cravats or jabots). Unfortunately, I don't see that kind of clothing coming back into fashion any time soon.</p>
