---
date: "2017-06-05"
---
<p>As a child, one of my favourite films was Flash Gordon, the one with the Queen soundtrack. Looking back on it as an adult, it's one of the cheesiest things I've ever seen, but I still love it.</p>
