---
date: "2017-09-22"
---
<p>I'm happy to conclude this little plot arc, for now I may move onto more interesting developments within Space House.  I'm not happy having only drawn fourteen pages over almost two years, so I think I'm going to try to figure out how to allocate my time to give occasion to a greater quantity of output. Part of my intent in making this is to figure out how to make comics in general.  I think I've got my process down, so now it's a matter of figuring out how to alter my general life habits to support creative projects.  For now, I'm trying setting monthly deadlines for things, which seems to be doing well for me.</p>
<p>Regarding learning more about comic creation, one design choice I'm scratching the surface of in this page is the use of inset paneling, that is to say, panels inside of panels.  My theory is that they're effective for guiding eye flow, where the reader will first look at the outset panel, be intuitively directed to inset panels, and proceed to the panel following the original outset.  I find a three-column layout is pretty natural to follow, and suspect the use of insets would allow for greater complexity while retaining that natural flow.  Aesthetically, I find that insets within the outset's negative space looks really appealing.  Frank Miller's 300 has lots of examples of this.</p>
<p>This comic also had some experiments in texture.  The grass and what's below it use an ink wash.  Midtones, in MY comic?  It's more likely than you think!  I also had fun inking the hide the human is wearing.</p>
<p>I spent this month overhauling the website, and have added a <a href="/gallery">gallery</a> for my personal artwork, to which I may occasionally append.  The other site changes include small tweaks upon the visual theming (CSS, the force which drives me to drink), as well as improving (totally redoing) my server configuration.  The latter may be my favourite addition, as I no longer have to restart my server every couple of days because I wasn't actually using any real server software and had it's entire filesystem in RAM so log files would accumulate and crash it.  <label style="font-size:50%">In some ways, I will miss this setup.</label></p>
