---
date: "2017-10-31"
---
<p>In order to draw the full shot of the house, not having any sort of plan with this comic, I looked at the previous comics and patched together what could go where.	A part of me simply wanted to continue to be ignorant to spatial continuity, and deliberately make the house some non-euclidean mess.</p>
<p>I did Inktober!	It's really refreshing to be done with it, and I hope that it helps get me into the habit to draw more in the future. <a href="/gallery/inktober/2017">Here's the Inktober gallery</a></p>
