---
date: "2017-12-13"
---
<p>Ever read the ingredients section off a bottle of Worcestershire sauce?  I highly recommend it.  You're in for a wild time.</p>
<p>I'm really happy with this one.  Part of the idea I was working with, is that by having dialogue which occurs off-panel, I can increase the situational awareness of the reader while also packing more information into the comic.  Or so my thinking goes, at least.</p>
