---
date: "2018-01-01"
---
<p>A new page for a new year!</p>
<p>Now that I've had to draw it, I question whether it was a good idea to put a refrigerator tower in my comic, for it's quite tedious to draw.  But now I've made my bed, and I must sleep in it.  Come to think of it, though, just because you make your bed, it may not strictly follow that you absolutely <i>must</i> sleep there.  If it <i>does</i> necessarily follow, however, I now have an airtight excuse to either stay longer at a hotel than I pay for, or get a free bed out of the dispute, when they try to kick me out.</p>
