---
date: "2018-02-02"
---
<p>Clothing is tricky to draw, but I feel like I've had a breakthrough.  I typically just draw the folds along the sides of the cloth around the silhouette of a form, omitting the folds in the middle, but I realized there's a pretty simple way to distribute shadow which comes out like folds.  Just draw happy little folds.  Gotta channel that Bob Ross.</p>

<p>Speaking of shading, I've recently started inking with rOtring Isograph pens, and golly, they're a pleasure to hatch with.  Their consistency makes those kinds of lines come out really well.  Previously, for most linewidths, my multiliners were Copics, and I still have some I use.  The difference appears to be that the Copics are capable of having a certain taper to their line widths, should you flick the pen a certain way while removing it from the paper from a stroke.  Occasionally I miss this, but I prefer a lack of it when hatching, which is causing me to lean towards the rOtrings.</p>

