---
date: "2018-03-03"
---
<p>This was a fun page to design for its experimentation in the panel layout (<i>viewable on mobile via landscape orientation</i>).  Hopefully, it's not <i>too</i> confusing, but I figured that keeping all the speech bubbles along a simple left-to-right line, without much vertical variance, as well as having previous bubbles layered below later ones, function as hints to an otherwise erratic layout.  At least, that's the thinking.  It may be best to avoid having too many layouts like this, but this does get me thinking about how a page can flow.</p>
<p>In other regards: philateley, one of Superbrain's many hobbies, and one of the most prominant.  Knowing virtually nothing of stamp collecting, I casually looked up what the most expensive stamp out there is.  It's the British Guiana One-Cent Black-on-Magenta stamp, with only one known to exist.  Its last sale priced it at 9.4 million dollars.  In the <a href="https://en.wikipedia.org/wiki/British_Guiana_1c_magenta">Wikipedia article</a> on this stamp, there's an outline of many of its owners, tracing it back to a twelve year old collector.  Looking elsewhere, I stumbled across a series of articles which outline it in even greater detail.  The amount of information revolving around one single, tiny piece of paper, as well as all the people who held it is incredibly amusing to me.</p> 
