---
date: "2018-04-01"
---
<p>The Human's costume in this page, which I call the cybersuit, may be my favourite of his costumes hitherto.	Cybersuits are the way of the future.	In fifty years, everybody will be wearing them.</p>
