@mixin font-serif { font-family: serif; }
@mixin font-sans-serif { font-family: sans-serif; }

@mixin font-main { @include font-sans-serif; }
@mixin font-heading { @include font-main; }

:root {
	--text-color-main: #eee;
	--text-color-heading: var(--text-color-main);
	--text-link-main: #6e6;
	--text-link-visited-main: #8e8;
	--text-background-main: #333;
	--text-background-heading: var(--text-background-main);
}
